html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--mantine-color-gray-0);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--mantine-color-gray-9);
  }
}
