apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hubk-postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hubk-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hubk-postgres
  template:
    metadata:
      labels:
        app: hubk-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: hubk
            - name: POSTGRES_DB
              value: hubk
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: hubk-postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: hubk-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: hubk-postgres
spec:
  selector:
    app: hubk-postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
